



A product is an individual offering by a supplier to be sold. It is

Product *
product_id
product_type_code
product_name
product_descr
product_cost
product_restock_ind
product_instock_ind
product_effective_date
product_supplier
product_status
product_model_no

Item
item_id
item_product
item_sn
item_price
item_effective_date
item_location


Customer
customer_id
customer_name
customer_address
customer_email
customer_phone

Customer_Account
account_id
account_customer
account_effective_date
account_status
account_exp_date
account_no

Customer_Order *
order_id
order_product
order_placed_date
order_status
order_customer
order_shipment

Customer_Shipment
shipment_id
shipment_effective_date
shipment_action
shipment_activity_date
shipment_method

Customer_Invoice
invoice_number
invoice_account
invoice_status
invoice_order
invoice_total
invoice_effective_date

Supplier
supplier_id
supplier_name
supplier_type

Product_Order *
order_id
order_product
order_placed_date
order_status
order_customer
order_shipment





